*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvam9iNTQ1LXdpdC01Nl8xXzEuanBn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.container{
    max-width: 750px;
    padding: 0px 32px ;
    margin: auto;
    padding-top: 100px;
}
.div{
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(196, 247, 247, 0.675);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 520px;
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.one{
    width: 100%;
}
.one>input{
    border-radius: 10px;
    border-style: none;
    padding: 15px 0px;
    width: 100%;
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
}
.two{
    width: 100%;
}
.two>input{
    border-radius: 10px;
    border-style: none;
    padding: 15px 0px;
    width: 100%;
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
    
}
.three{
    width: 100%;
}
.three>input{
    border-radius: 10px;
    border-style: none;
    padding: 15px 0px;
    width: 100%;
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
}
input:focus{
    outline: none;
}
h1{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 16px;
    color: rgb(4, 116, 116);
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn:hover{
    cursor: pointer;
    transition: all 0.7s ease;
    background-color: darkcyan;
}
#btn{
    transition: all 0.5s ease;
    width: 100px;
    padding: 5px 0px;
    border-radius: 5px;
    border-style: none;
    background-color: azure;
}
table{
    border-collapse: collapse;
    text-align: center;
    background-color:rgb(216, 112, 145);
}
table td,table th{
    border: solid 2px rgb(252, 251, 251);
    font-size: 16px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(57, 56, 56);
}
.Btnn{
    background-color:rgb(216, 112, 145);
    border-radius: 2px;
    border-style: none;
    transition: all 0.5s ease;
    font-size: 14px;
}
.Btnn:hover{
    cursor: pointer;
    transition: all 0.7s ease;
    background-color: darkcyan;
}

